<br>
<br>
<p class="lead"><strong>Split Your Bill</strong> is a free app that removes the pain of sharing expenses with friends.
    <br>
    Use us to keep track of shared rents, birthday dinners, and cash-only bar tabs.</p>

<h4>Login</h4>

<form action="/session" class="form-horizontal" method="post">

  <label>Username: <input type="text" name="user[username]" /></label>
  <label>Password: <input type="password" name="user[password]" /></label>
  <input type="submit" class="btn btn-success" value="Login" />

</form>

<p>
<br>
  Don't have an account? Then 
  <a href="/users/new"><button class="btn btn-danger">Sign Up</button></a>
</p>